{% extends "base.twig" %}

{% block body %}
	<div class="d-flex flex-row flex-wrap justify-content-center">

		{% for post in posts %}
			{% include './partials/_card.twig' with { post: post, prev: prev } %}
		{% endfor %}
	</div>

{% endblock %}
